{% extends "base.html" %}
{% block title%}Route search{% endblock%}

{% block content%}
    <h1 class="display-4 text-center my-4">Route search</h1>
    <div class="row "> 
        {% if routes %}
            <div class='col-md-8 mx-auto'>
            <h3> {% if routes|length == 1%}
                    Route
                {% else %}
                    Routes
                {% endif %} from {{cities.from_city}} to {{cities.to_city}} </h3>
            <hr>
            {% for route in routes %}
                <form action="{% url 'add_route' %}" method="get">
                    <input type='hidden' name='from_city' value='{{route.from_city}}'/>
                    <input type='hidden' name='to_city' value='{{route.to_city}}'/>
                    <input type='hidden' name='travel_times' value='{{route.total_time}}'/>
                    <input type='hidden' name='across_cities' 
                        value='{% for train in route.route %} {{train.id}} {% endfor %}'/>

                {% if forloop.first %}
                    <h5> Shortest route</h5>
                {% endif %}
                <table class="table table-striped">
                <thead>
                <tr>
                    <th> Trains list </th>
                    
                </tr>
                </thead>
                <tbody>
                {% for train in route.route %}
                    <tr>
                        <td> Train <strong> #{{train.name}}</strong> is heading from {{train.from_city}} to {{train.to_city}}.
                        Duration {{train.travel_time}} </td>
                    </tr>
                
                {% endfor %}
                </tbody>
                </table>
                <p>Total duration {{route.total_time}} </p>
                <br/>
                <button type='submit' class='btn btn-success'> Save route </button>
                </form>
                <br/><br/>

               
            {% endfor %}
            
             </div>
        {% endif %}     
        <div class='col-md-8 mx-auto'>
            {{ways}}
           <form action="{% url 'find_routes' %}" method="post"> {% csrf_token %} 
                {{form.as_p}}
                <input type="submit" value="Search">
            </form> 
        </div>
    </div>
    

{% endblock%}